<?xml version="1.0"?>

<appSettings>
  <!--Configuration keys-->
  <add key="DocumentDb.EndpointUrl" value="[Your Azure DocumentDB Endpoint URL]" />
  <add key="DocumentDb.AuthorizationKey" value="Your Azure DocumentDB Authorization Id]" />
  <add key="Hub.AccessSignature" value="[Your Notification Hub's Full Shared Access Signature]" />
  <add key="Hub.Name" value="[Your Notification Hub Name]" />
  <add key="Instrumentation.Key" value="[Your App Insights Instrumentation Key]" />
  <add key="Storage.AccessKey" value="[Your Azure Storage access Key]"/>
  <add key="Storage.AccountName" value="[Your Azure Storage account name]"/>
</appSettings>